[submodule "FW_CentrifugalFanECU"]
	path = FW_CentrifugalFanECU
	url = git@github.com:CodileAB/FW_CentrifugalFanECU.git
[submodule "FW_StandardWheelECU"]
	path = FW_StandardWheelECU
	url = git@github.com:CodileAB/FW_StandardWheelECU.git
