[submodule "FW_CentrifugalFanECU"]
	path = FW_FanECU
	url = git@github.com:Knektium/FW_FanECU.git
[submodule "FW_StandardWheelECU"]
	path = FW_WheelECU
	url = git@github.com:Knektium/FW_WheelECU.git
[submodule "FW_BatteryECU"]
	path = FW_BatteryECU
	url = git@github.com:Knektium/FW_BatteryECU.git
