[submodule "FW_CentrifugalFanECU"]
	path = FW_FanECU
	url = git@github.com:CodileAB/FW_FanECU.git
[submodule "FW_StandardWheelECU"]
	path = FW_WheelECU
	url = git@github.com:CodileAB/FW_WheelECU.git
[submodule "FW_BatteryECU"]
	path = FW_BatteryECU
	url = https://github.com/CodileAB/FW_BatteryECU
